@import "tailwindcss";

:root {
  --background: #232427;
  --foreground: #F7F9FC;
  --font-sans: var(--font-lexend);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232427;
    --foreground: #F7F9FC;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Lexend;
  overflow-x: hidden;

}

.avatar {
  background-image: url('../../public/images/avatar.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.about-pic{
  background-image: url('../../public/images/bg-1.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.bg-main {
  background-image: url('../../public/images/bg-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.mmsgsm-pic {
  background-image: url('../../public/images/MMSGSM.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
}
.eventms-pic {
  background-image: url('../../public/images/EventMS.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
}
.wpportfolio-pic {
  background-image: url('../../public/images/WP.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 30vh;
}
