@import "tailwindcss";

:root {
  --background: #F7F9FC;
  --foreground: #232427;
  --font-sans: var(--font-lexend);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232427;
    --foreground: #F7F9FC;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Lexend, sans-serif;
  overflow-x: hidden;

}

.bg-main {
  background-image: url('../../public/images/bg-1.jpg'); /* Ensure this file is in public folder */
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
